<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(service.errors.count, "error","errores") %> <%= (service.errors.count == 1) ? "impide" : "impiden" %> que se guarde este servicio:</h4>
      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message.humanize %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :name, "Nombre", class: "offset-sm-1 col-sm-1 col-form-label" %>
    <div class="col-sm-8 me-auto">
      <%= form.text_field :name, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :price, "Precio (opcional)", class: "offset-sm-1 col-sm-2 col-form-label" %>
    <div class="col-sm-7 me-auto">
      <%= form.number_field :price, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="offset-sm-1">
        <%= form.label :active, "El servicio debe estar activado", class: "form-check-label" %>
        <%= form.check_box :active, class: "form-check-input" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <%= form.submit "Guardar", data: { confirm: "¿Estás seguro de los datos ingresados?", turbo_confirm: "¿Estás seguro de los datos ingresados?" }, class: "btn btn-primary mt-2" %>
    </div>
  </div>
<% end %>
