<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <%= link_to "Editar Servicio", edit_service_path(@service), class: "btn btn-primary" %> |
  <%= link_to "Volver a Servicios", services_path, class: "btn btn-primary" %>
  <%= button_to "Eliminar Servicio", @service, method: :delete, class: "btn btn-danger mt-3" %>
</div>
