<h1>Calendario</h1>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to "New meeting", new_meeting_path %>
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <%= date.day %>

      <% meetings.each do |meeting| %>
        <div>
          <%= t("activerecord.attributes.meeting.names.#{meeting.name}").humanize %>
          <%= meeting.description %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>  

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "Ver evento", meeting %>
    </p>
  <% end %>
</div>

