<p style="color: green"><%= notice %></p>

<h1>Meetings</h1>

<%= link_to "Nuevo Evento", new_meeting_path, class: "btn btn-primary my-3 mx-5" %>

<div class="container">
  <div class="row justify-content-center">
    <%= month_calendar(events: @meetings) do |date, meetings| %>
      <%= date.day %>

      <% meetings.each do |meeting| %>
        <div>
          <%= t("activerecord.attributes.meeting.names.#{meeting.name}").humanize %>
          <%= meeting.description %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>  

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <p>
      <%= link_to "Mostrar acciones", meeting %>
    </p>
  <% end %>
</div>

