<p style="color: green"><%= notice %></p>

<%= render @meeting %>

<div>
  <%= link_to "Modificar Evento", edit_meeting_path(@meeting), class: "btn btn-primary" %> |
  <%= link_to "Volver a Calendario", meetings_path, class: "btn btn-primary" %>
  <%= button_to "Borrar evento", @meeting, method: :delete, class: "btn btn-primary my-3" %>
</div>
