<div id="<%= dom_id dog %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body text-center">
            <div class="mt-2 mb-1">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg> -->
            </div>
            <h4 class="my-3 fw-bold"><%= dog.first_name %> <%= dog.last_name %></h4>
            <!-- <p class="text-muted mb-1"><%= @user.email %></p>
            <p class="text-muted mb-3">DNI: <%= @user.dni %></p> -->
            <p>
              <strong>Foto</strong>
              <%= link_to dog.photo.filename, dog.photo if dog.photo.attached? %>
            </p>
            
            <div class="d-flex justify-content-center mb-2">
              <% if current_user.admin? %>
                <%= link_to "Dueño", admin_user_path(dog.user), class: "btn btn-outline-info me-1" %>
                <%= link_to "Editar", edit_admin_user_dog_path(user_id: dog.user.id, id: dog.id), class: "btn btn-outline-primary" %>
                <%= button_to "Eliminar", admin_user_dog_path(user_id: dog.user.id, id: dog.id),  data: { confirm: "Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger ms-1" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-2 shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nombre completo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= dog.first_name %> <%= dog.last_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Raza</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= t("activerecord.attributes.dog.breeds.#{dog.breed}").humanize %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Color</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= dog.color %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Sexo</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= t("activerecord.attributes.dog.sexes.#{dog.sex}").humanize %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Cumpleaños</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= dog.birthday %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
