<div id="<%= dom_id clinic_dog %>">
  <div class="card mb-2 shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0">Perro:</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><%= clinic_dog.dog.first_name %> <%= clinic_dog.dog.last_name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0">Fecha:</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><%= clinic_dog.dateclinic %></p>
        </div>
      </div>
      <% unless clinic_dog.rabies_applied || clinic_dog.inmunological_applied %>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <p class="mb-0">Vacunas aplicadas</p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted mb-0">Ninguna</p>
          </div>
        </div>
      <% end %>
      <% if clinic_dog.rabies_dosage.present? %>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <p class="mb-0">Antirrábica:</p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted mb-0">Lote: <%= clinic_dog.rabies_batch %>, Dosis: <%= clinic_dog.rabies_dosage %> mg</p>
          </div>
        </div>
      <% end %>
      <% if clinic_dog.inmunological_dosage.present? %>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <p class="mb-0">Inmunológica:</p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted mb-0">Lote: <%= clinic_dog.inmunological_batch %>, Dosis: <%= clinic_dog.inmunological_dosage %> mg</p>
          </div>
        </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0">Descripción:</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><%= clinic_dog.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
