<div id="<%= dom_id clinic_dog %>">
  <div class="card mb-2 shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0">Fecha:</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><%= clinic_dog.dateclinic %></p>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-sm-6">
            <p class="mb-0">¿Hubo vacunas aplicadas?</p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted mb-0"><%= clinic_dog.question? ? "Si" : "No" %></p>
          </div>
      </div>
      <hr>
      <% if clinic_dog.question? %>
        <div class="row">
          <div class="col-sm-6">
            <p class="mb-0">Vacunas aplicadas:</p>
          </div>
          <div class="col-sm-6">
            <p class="text-muted mb-0"><%= t("activerecord.attributes.clinic_dog.vaccines_options.#{clinic_dog.vaccines}").humanize %></p>
          </div>
        </div>
        <hr>
      <% end %>
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0">Descripción:</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><%= clinic_dog.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
