<%= form_with(model: [@dog, clinic_dog]) do |form| %>
  <% if clinic_dog.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(clinic_dog.errors.count, "error", "errores") %> <%= (clinic_dog.errors.count == 1) ? "impide" : "impiden" %> que se guarde la historia clínica</h4>
      <ul>
        <% clinic_dog.errors.each do |error| %>
          <li><%= error.full_message.humanize %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :dateclinic, "Fecha", class: "offset-sm-1 col-sm-3 col-form-label" %>
    <div class="col-sm-6 me-auto">
      <%= form.date_field :dateclinic, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :vaccines, "Vacunas aplicadas", class: "offset-sm-1 col-sm-3 col-form-label" %>
    <div class="col-sm-6 me-auto">
      <% if form.object.new_record? %> 
        <%= form.select(:vaccines, [['', nil]] + ClinicDog.vaccines.keys.map { |vaccine| [t("activerecord.attributes.clinic_dog.vaccines_options.#{vaccine}").humanize, vaccine] },
              { selected: nil },
              { class: 'form-select' }) %>
      <% else %>
        <%= form.select(:vaccines, 
              ClinicDog.vaccines.keys.map { |vaccine| [t("activerecord.attributes.clinic_dog.vaccines_options.#{vaccine}").humanize, vaccine] }, 
              {selected: @clinic_dog.vaccines }, 
              { class: 'form-select'}) %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <%= form.label :description, "Descripción", class: "offset-sm-1 col-sm-3 col-form-label" %>
    <div class="col-sm-6 me-auto">
        <%= form.text_area :description, class: 'form-control', rows: 4 %>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <%= form.submit "Guardar", data: { confirm: "¿Estás seguro de los datos ingresados?", turbo_confirm: "¿Estás seguro?" }, class: "btn btn-primary mt-2" %>
    </div>
  </div>
<% end %>
