<body style="background-image: url('<%= asset_path('dogsbackground1.png') %>'); background-size: cover;">
  <% unless @clinic_dog.dog.state %>
    <div class="row justify-content-center">
      <div class="col-md-8 alert alert-warning text-center" role="alert" id="warning-message">
        Este perro está deshabilitado
      </div>
    </div>
  <% end %>
  <div class="card mx-5 my-5">
    <div class ="card-header">
      <div class="d-flex align-items-center">
        <div class="me-auto">
            <img src="<%= asset_path('healthicon.png') %>" alt="Image" style="width: 100px; height: 100px; border-radius: 10%; margin-right: 15px;">
          </div>
          <div class="col-md"> 
            <h1 style="margin: 0;" class="text-start"> Historia Clinica </h1>
          </div>
          <div>  
            <% if current_user.admin? %>
              <%= link_to "Editar", edit_clinic_dog_path(@clinic_dog), class: "btn btn-primary me-1 #{@clinic_dog.dog.state ? '' : 'disabled'}"%>
            <% end %>
            <%= link_to "Volver a la historia clínica", dog_clinic_dogs_path(@clinic_dog.dog), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>  
    <div class="card-body">
      <%= render @clinic_dog %>
    </div>  </div>

</body>