<div id="<%= dom_id dog %>">
  <p>
    <strong>Foto:</strong>
    <%= link_to dog.photo.filename, dog.photo if dog.photo.attached? %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= dog.first_name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= dog.last_name %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= dog.breed %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= dog.color %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= dog.sex %>
  </p>

  <p>
    <strong>Cumpleaños:</strong>
    <%= dog.birthday %>
  </p>

  <p>
    <strong>DNI del dueño:</strong>
    <%= dog.user.dni %>
  </p>

</div>
