<div id="<%= dom_id dog %>">  
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-3 shadow-sm border-<%= dog.state ? '' : 'danger' %>">
        <% unless dog.state %>
          <div class="card-header text-bg-danger text-center">Deshabilitado</div>
        <% end %>
        <%= image_tag url_for(dog.photo), size: "16*16", class: "card-img-top rounded-0" %>
        <div class="card-body text-center">
          <h4 class="mb-3 fw-bold <%= dog.state ? '' : 'text-body-tertiary' %>"><%= dog.first_name %> <%= dog.last_name %></h4>
          
          <div class="d-flex gap-1 justify-content-center mb-2">
            <% if current_user.admin? %>
              <%= link_to user_path(dog.user), class: "btn btn-outline-info" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                </svg>
              <% end %>  
              <%= link_to edit_dog_path(dog), class: "btn btn-outline-primary #{dog.state ? '' : 'disabled'}" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
              <% end %>
            <% end %>
            <%= link_to dog_clinic_dogs_path(dog), class: "btn btn-outline-success" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-3 2v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0m-2 4.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1m0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
              </svg>
            <% end %>
            <% if current_user.admin? %>
              <%= button_to toggle_state_dog_path(dog), method: :patch, class: "btn btn-#{dog.state ? 'danger' : 'success'}" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Nombre completo</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= dog.first_name %> <%= dog.last_name %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Raza</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= t("activerecord.attributes.dog.breeds.#{dog.breed}").humanize %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Color</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= dog.color %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Sexo</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= t("activerecord.attributes.dog.sexes.#{dog.sex}").humanize %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">¿Está castrado?</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= dog.castrated ? 'Si' : 'No' %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Cumpleaños</p>
            </div>
            <div class="col-sm-9">
              <p class="text-secondary mb-0"><%= dog.birthday.strftime("%d/%m/%y") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
