<h1>Mis mascotas</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Raza</th>
          <th>Color</th>
          <th>Sexo</th>
          <th>Cumpleaños</th>
          <th>DNI del dueño</th>
          <th colspan="3"></th>
        </tr>
      </thead>

    <tbody>
      <div id="dogs">
        <% @dogs.each do |dog| %>
          <tr>
            <td><%= dog.first_name %></td>
            <td><%= dog.last_name %></td>
            <td><%= dog.breed %></td>
            <td><%= dog.color %></td>
            <td><%= dog.sex %></td>
            <td><%= dog.birthday %></td>
            <td><%= link_to dog.user.dni, [:admin, dog.user] %></td>
            <td><%= link_to "Datos", dog, class: "btn btn-primary" %></td>
            <td><%= link_to "Editar", edit_dog_path(dog), class: "btn btn-primary" %></td>
            <td><%= link_to "Eliminar", dog, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
