<body style="background-image: url('<%= asset_path('donationbackground.png') %>'); background-size: cover;">
  <div class="card">
    <div class="card-body" id="<%= dom_id credit_card %>">
      
      <p class="card-text">
        <strong>Amount:</strong>
        <%= credit_card.amount %>
      </p>

      <p class="card-text">
        <strong>User:</strong>
        <%= credit_card.user.first_name %>
        <%= credit_card.user.last_name %>
      </p>

    </div>
  </div>
</body>