<h1>Inbox</h1>

<% if @notifications.any? %>
  <ul class="list-group">
    <% Message.where(user_id: current_user.id).order(datetime: :desc).each do |message| %>
      <% if message.datetime.nil? || message.datetime <= DateTime.now %>
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= message.title %></h5>
          </div>
          <p class="mb-1"><%= message.content %></p>
          <small>Recibido
            <% if Time.now - message.datetime < 1.hour %>
              hace <%= time_ago_in_words(message.datetime) %>
            <% elsif Time.now - message.datetime < 1.days %>
              hoy a las <%= message.datetime.strftime("%H:%M:%S") %>
            <% else %>
              el <%= message.datetime.to_date %> a las <%= message.datetime.strftime("%H:%M:%S") %>
            <% end %>
          </small>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No tienes notificationes.</p>
<% end %>
