<h2>Recuperá tu cuenta</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3">
    <p>Introduce tu correo electrónico para buscar tu cuenta.</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo electrónico", class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= f.submit "Buscar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Cancelar", :back, class: "btn btn-secondary mb-3" %><br />

<%= render "devise/shared/links" %>
