<div class="alert alert-warning alert-dismissible fade show" role="alert" id="warning-message">
  Cada turno es para un único perro. Si tienes más de un perro, por favor, saca un turno para cada uno.
</div>

<%= form_with(model: @turn_form, local: true) do |form| %>
    <!--Error messages-->
    <% if @turn_form.errors.any? %>
        <div class="alert alert-danger">
            <h4 class="alert-heading"><%= pluralize(@turn_form.errors.count, "error","errores") %> <%= (@turn_form.errors.count == 1) ? "impide" : "impiden" %> que se complete el formulario</h4>
            <ul>
                <% @turn_form.errors.each do |error| %>
                    <li><%= error.full_message.humanize %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <!--Select motive. compatibility with Service database?--> 
    <div class="row">
        <h3>Selecciona los servicios:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre del Servicio</th>
                    <th>Precio</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <% Service.all.each do |service| %>
                    <% if service.active %>
                        <tr>
                            <td><%= service.name %></td>
                            <td><%= service.price %></td>
                            <td>
                                <div class="form-check">
                                    <%= form.check_box :service_ids, { multiple: true }, service.id, nil %>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                <% end %>
            </tbody>
        </table>
    </div>

    <!--Time select-->
    <div class="row mb-3">
        <%= form.label :dateCons, "Fecha de la consulta", class: "col-sm-2 col-form-label" %>
        <div class="col-md-10">
            <%= form.date_field :dateCons, class: 'form-control flatpickr', id: 'date-picker' %>
        </div>
    </div>

    <!--ScheduleDate-->
    <div class="row mb-3">
        <%= form.label :scheduleCons, "Horario de la consulta", class: "col-sm-2 col-form-label" %>
        <div class="col-md-10">
            <%= form.select(:scheduleCons, [['Mañana', 'morning'], ['Tarde', 'afternoon']], { include_blank: false }, { class: 'form-select', id: 'schedule-select' }) %>
        </div>
    </div>

    <!-- Seleccionar un perro del cliente  -->
    <div class="row mb-3">
        <div class="col-md-4 mb-3 d-flex align-items-center justify-content-center">
            <div class="form-group">
                <%= form.label :dog_id, "Seleccione a su mascota" %>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <div class="form-group">
                <%= form.collection_select(:dog_id, current_user.dogs, :id, :first_name, { prompt: "", required: true }, { class: 'form-select' }) %>                      
            </div>
        </div>
    </div>

    <!-- Description field -->
    <div class="row mb-3">  
        <%= form.label :descriptionCons, "Descripción", class: "col-sm-2 col-form-label" %>
        <div class="col-md-10">
            <%= form.text_area :descriptionCons, class: 'form-control', rows: 4 %>
        </div>
    </div>

    <!-- sent button -->
    <div>
        <%= form.submit "Solicitar", data: { confirm: "Estás seguro?", turbo_confirm: "Estás seguro?" }, class: "btn btn-primary mt-3" %>
    </div>
<% end %>





