<div id="<%= dom_id turn_form %>">

  <p>
    <strong>Fecha de consulta:</strong>
    <%= turn_form.DateCons %>
  </p>

  <p>
    <strong>Horario de la consulta:</strong>
    <%= turn_form.ScheduleCons %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= turn_form.descriptionCons %>
  </p>
  <p>
    <strong>Servicios solicitados:</strong>
    <%= turn_form.servicesCons %>
  </p>
</div>
