<body style="background-image: url('<%= asset_path('dogsbackground1.png') %>'); background-size: fixed;"> 
  <div style="background-color: rgba(255, 255, 255, 0.7); padding: 2px; border-radius: 10px; margin: 10px; text-align: center; align-items: center;">
    <div class="d-flex align-items-center justify-content-between mx-3 my-3">
      <div class="col-md-auto">
        <img src="<%= asset_path('note.png') %>" alt="Image" style="width: 80px; height: 80px; border-radius: 50%; margin-right: 15px;">
      </div>
      <div class="col-md"> 
        <h1 style="margin: 0;" class="text-start"> Turnos </h1>
      </div>  
      
      <% if current_user.client? %>
        <%= link_to new_turn_form_path, class: "btn btn-primary btn-lg" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
          Solicitar turno
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header text-center">
      <h2>Solicitados</h2>
    </div>
    <div class="card-body">
      <% if @turn_forms.where(confirmed: false).count > 0 %>
        <%= render "table", turn_forms: @turn_forms.where(confirmed: false).order(dateCons: :asc), show_total_amount_col: false %>
      <% else %>
        <h4 class="text-muted text-center">No hay turnos solicitados</h4>
      <% end %>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header text-center">
      <h2>Confirmados</h2>
    </div>
    <div class="card-body">
      <% if @turn_forms.where(confirmed: true, done: false).count > 0 %>
        <%= render "table", turn_forms: @turn_forms.where(confirmed: true, done: false).order(dateCons: :asc), show_total_amount_col: false %>
      <% else %>
        <h4 class="text-muted text-center">No hay turnos confirmados</h4>
      <% end %>
    </div>
  </div>


  <div class="mb-4">
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h1 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Historial de turnos          
          </button>
        </h1>
        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion" >
          <div class="accordion-body">
            <% if @turn_forms.where(done: true).count > 0 %>
              <%= render "table", turn_forms: @turn_forms.where(done: true).order(updated_at: :desc), show_total_amount_col: true %>
            <% else %>
              <h4 class="text-muted text-center">No existen turnos realizados</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>