<body style="background-image: url('<%= asset_path('dogsbackground1.png') %>'); background-size: fixed;"> 
  <div class="card mx-5 my-5">
    <div class="card-body bg-light-subtle">
      <h1 class="card-title mb-3">Inicia Sesión</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Correo electrónico" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Contraseña" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, "Recuérdame", class: "form-check-label" %>
          </div>
        <% end %>

        <div class="actions mb-3">
          <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
        </div>
      <% end %>

      <p>¿No tenés una cuenta? ¡Acercáte a nuestro local y registráte ya!</p>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>