<%= form_with(model: [:admin, user]) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error", "errores")%> <%=(user.errors.count == 1)? "impide": "impiden"%> que se guarde el cliente</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :dni, style: "display: block" %>
    <%= form.number_field :dni %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div class="field mb-3">
    <%= form.label :password, "Contraseña nueva", class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :password_confirmation, "Confirmá la nueva contraseña", class: "form-label" %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
