<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= user.dni %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= user.role %>
  </p>

</div>
